<h1>Listing tracs</h1>

<table>
  <thead>
    <tr>
      <th>Flight</th>
      <th>Airline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracs.each do |trac| %>
      <tr>
        <td><%= trac.flight %></td>
        <td><%= trac.airline %></td>
        <td><%= link_to 'Show', trac %></td>
        <td><%= link_to 'Edit', edit_trac_path(trac) %></td>
        <td><%= link_to 'Destroy', trac, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trac', new_trac_path %>
